<div class="settings-view">

    <div data-navbar
         data-active-section="admin"></div>

    <div class="container" style="padding: 60px" ng-init="init()">
        <canvas id="line"
                class="chart chart-bar"
                chart-data="data"
                chart-labels="labels"
                chart-legend="true"
                chart-click="onChartClick" >
        </canvas>
        <canvas id="line2"
                class="chart chart-bar"
                chart-data="data2"
                chart-labels="labels2"
                chart-legend="true"
                chart-click="onChartClick" >
        </canvas>
        <button ng-click="init()" class="btn">Actualizar</button>
    </div>
</div>