<div class="map-view">

    <div data-modal-dialog
            class="modal-fullscreen bottom"
            id="modal-fullscreen"
            data-visible="modalOpen"
            data-sections="{
                header: true,
                body: true,
                footer: false
            }">
        <modal-title>{{ modalData.title }}</modal-title>
        <modal-body>{{ modalData.body }}</modal-body>
        <modal-footer>{{ modalData.footer }}</modal-footer>
    </div>

    <div data-navbar
            data-active-section="map"></div>

    <div data-map-actions
            on-search="onSearchButton()"
            on-pois="onPoisButton()"
            on-routes="onRoutesButton()"
            on-add="onAddButton()"></div>

    <div class="container-fluid" style="padding: 0;">

        <div data-map></div>

    </div>
</div>
