<div class="settings-view">

    <div data-navbar
         data-active-section="stats"></div>

    <div class="container" style="padding: 60px" ng-init="init()">
        <h1>Here go stats, followees and more profile information</h1>
        <p>Coming soon...</p>
        <canvas id="line7"
                class="chart chart-bar"
                chart-data="data7"
                chart-labels="labels7"
                chart-options="options"
                chart-click="onChartClick" >
        </canvas>
        <canvas id="line6"
                class="chart chart-bar"
                chart-data="data6"
                chart-labels="labels6"
                chart-options="options"
                chart-click="onChartClick" >
        </canvas>
        <canvas id="line4"
                class="chart chart-bar"
                chart-data="data4"
                chart-labels="labels4"
                chart-options="options"
                chart-click="onChartClick" >
        </canvas>
        <canvas id="line3"
                class="chart chart-bar"
                chart-data="data3"
                chart-labels="labels3"
                chart-options="options"
                chart-click="onChartClick" >
        </canvas>
        <canvas id="line5"
                class="chart chart-bar"
                chart-data="data5"
                chart-labels="labels5"
                chart-options="options"
                chart-click="onChartClick" >
        </canvas>
        {{mostrar3}}
        <br>
        {{mostrar4}}
        <br>
        {{mostrar5}}
        <br>
        {{mostrar6}}
        <br>
        {{mostrar7}}
        <br>
        <button ng-click="init()">Actualizar</button>
    </div>
</div>
